.container li {
	border-style: groove;
	border-color: #e9ecef;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
}

img {
	border-right: groove;
	border-color: #e9ecef;
}

.useridAnchor:hover {
	text-decoration: underline;
}

li:hover {
	background-color: #e9ecef;
}

.itemDetailAnchor {
	color: black;
}

.itemDetailAnchor:hover {
	text-decoration:none;
	color:black;
}
